<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
 <header>
     <h1>
         <a href="{{ path('homepage') }}">Guestbook</a>
     </h1>
     {{ render_esi(path('conference_header')) }}
 </header>
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
