<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="app">Oups... Problème 500</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
